*.bat
*.exe
*.dll
*.dtd
*.txt
*.htm*
robots/
WebGrab++.config.xml
chans2correct.xml
epg.xml
moviestar.bg.ini
tvshumen.bg.ini
hmtv.bg.ini
hobbytv.bg.ini
skat.bg.ini
sport1.de.ini
foodnetworktv.com.ini
destination-bg.tv.ini
24kitchen.bg.ini
wgmultiresults.json